<strong>Olá, {{ provider }}</strong>

<p>Ocorreu um cancelamento de horário, confira os detalhes abaixo:</p>

<p>
  <strong>Cliente: {{ user }}</strong> <br />
  <strong>Data/hora: </strong> {{ date }} <br /> <br />
  <small>Horário disponível novamente para novos agendamentos.</small>
</p>